@import '../../app.less';

.buttons {
    display: inline-block;

    i {background-size:100% 100%; background-repeat:no-repeat;}
    
    i.back {width:  @cw * 248px; height: @cw * 104px; background-image: url(./images/button_back_normal.png);}
    i.back:active,i.back:hover {background-image: url(./images/button_back_pressed.png)}

    i.confirm {width:  @cw * 249px; height: @cw * 104px; background-image: url(./images/button_confirm_normal.png);}
    i.confirm:active,i.confirm:hover {background-image: url(./images/button_confirm_pressed.png)}

    i.noconfirm {width:  @cw * 249px; height: @cw * 104px; background-image: url(./images/button_confirm_disable.png);}

    i.empty {width:  @cw * 248px; height: @cw * 104px; background-image: url(./images/button_empty_normal.png);}
    i.empty:active,i.empty:hover {background-image: url(./images/button_empty_pressed.png)}

    i.accept:active {width:  @cw * 249px; height: @cw * 104px; background-image: url(./images/button_accept_normal.png)}
    i.accept {width:  @cw * 249px; height: @cw * 104px; background-image: url(./images/button_accept_pressed.png)}

    i.change {width:  @cw * 249px; height: @cw * 105px; background-image: url(./images/button_change_normal.png)}
    i.change:active {background-image: url(./images/button_change_pressed.png)}

    i.delete {width:  @cw * 249px; height: @cw * 105px; background-image: url(./images/button_delete_normal.png)}
    i.delete:active {background-image: url(./images/button_delete_pressed.png)}

    i.submit:active {width:  @cw * 248px; height: @cw * 104px; background-image: url(./images/button_submit_pressed.png)}
    i.submit { width:  @cw * 248px; height: @cw * 104px; background-image: url(./images/button_submit_normal.png)}

    i.backLeft:active {width:  @cw * 64px; height: @cw * 64px; background-image: url(./images/icon_back_pressed.png)}
    i.backLeft { width:  @cw * 64px; height: @cw * 64px; background-image: url(./images/icon_back_normal.png)}

    i.recover:active {width:  @cw * 249px; height: @cw * 105px; background-image: url(./images/button_recover_pressed.png)}
    i.recover { width:  @cw * 249px; height: @cw * 105px; background-image: url(./images/button_recover_normal.png)}

    i.save:active {width:  @cw * 249px; height: @cw * 105px; background-image: url(./images/button_save_pressed.png)}
    i.save { width:  @cw * 249px; height: @cw * 105px; background-image: url(./images/button_save_normal.png)}

    i.savedisable { width:  @cw * 241px; height: @cw * 96px; background-image: url(./images/button_save_disable.png)}

    i.add:active {width:  @cw * 189px; height: @cw * 81px; background-image: url(./images/button_add_pressed.png)}
    i.add { width:  @cw * 189px; height: @cw * 81px; background-image: url(./images/button_add_normal.png)}

    i.remove:active {width:  @cw * 249px; height: @cw * 104px; background-image: url(./images/button_remove_pressed.png)}
    i.remove { width:  @cw * 249px; height: @cw * 104px; background-image: url(./images/button_remove_normal.png)}

    i.smalldelete:active {width:  @cw * 41px; height: @cw * 43px; background-image: url(./images/icon_delete_pressed.png)}
    i.smalldelete { width:  @cw * 41px; height: @cw * 43px; background-image: url(./images/icon_delete_normal.png)}

    i.smalledit:active {width:  @cw * 40px; height: @cw * 43px; background-image: url(./images/icon_edit_pressed.png)}
    i.smalledit { width:  @cw * 40px; height: @cw * 43px; background-image: url(./images/icon_edit_normal.png)}
}