.buttons {
    display: inline-block;
    i.back {width: 248px; height: 104px; background: url(./images/button_back_normal.png) top left no-repeat;}
    i.back:active,i.back:hover {background: url(./images/button_back_pressed.png) top left no-repeat}

    i.confirm {width: 249px; height: 104px; background: url(./images/button_confirm_normal.png) top left no-repeat;}
    i.confirm:active,i.confirm:hover {background: url(./images/button_confirm_pressed.png) top left no-repeat}

    i.noconfirm {width: 249px; height: 104px; background: url(./images/button_confirm_disable.png) 3px 2px no-repeat;}

    i.empty {width: 248px; height: 104px; background: url(./images/button_empty_normal.png) top left no-repeat;}
    i.empty:active,i.empty:hover {background: url(./images/button_empty_pressed.png) top left no-repeat}

    i.accept:active {width: 249px; height: 104px; background: url(./images/button_accept_normal.png) top left no-repeat}
    i.accept {width: 249px; height: 104px; background: url(./images/button_accept_pressed.png) top left no-repeat}

    i.change {width: 249px; height: 105px; background: url(./images/button_change_normal.png) top left no-repeat}
    i.change:active {background: url(./images/button_change_pressed.png) top left no-repeat}

    i.delete {width: 249px; height: 105px; background: url(./images/button_delete_normal.png) top left no-repeat}
    i.delete:active {background: url(./images/button_delete_pressed.png) top left no-repeat}

    i.submit:active {width: 248px; height: 104px; background: url(./images/button_submit_pressed.png) top left no-repeat}
    i.submit { width: 248px; height: 104px; background: url(./images/button_submit_normal.png) top left no-repeat}
}