@import '../../app.less';
.dataTable{
    table {
        border: none; width: 100%; background: #FFFFFF; box-shadow: 0 1px 3px 0 #DCE8FF;
        thead {
            background: #ABD9FF; height: @cw * 84px; line-height: @cw * 84px;
            th {font-size: @cw * 36px; color: #00569C; font-weight: normal}
        }
        tbody {
            font-size: @cw * 32px; color: #3996F6; text-align: center;
            tr {height: @cw * 72px; line-height: @cw * 72px;}
            tr:nth-child(odd) {
                background: #fff
            }
            tr:nth-child(even) {
                background: #E2F2FF;
            }
            tr:hover {
                background: rgba(110,190,255,.52);
            }
        }
    }
    .pages {
        margin-top: @cw * 10px; float: right;
        li {padding: 0 @cw * 15px; height: @cw * 42px; min-width: @cw * 42px; font-size: @cw * 20px; color: #BABABA; letter-spacing: 0; text-align: center; line-height: @cw * 42px; display: inline-block; vertical-align: middle;}
        li.pActive,li:active {background: #E2F2FF; border-radius: @cw * 4px; color: #3996F6;}
        li.pPrev {
            background: #E2F2FF; border-radius: @cw * 4px; margin-right: 10px; position: relative;
            i {border-right: @cw * 2px solid #3996F6; border-top: @cw * 2px solid #3996F6; height: @cw * 18px; width: @cw * 18px; transform: rotate(225deg); -webkit-transform: rotate(225deg); position: absolute; top: @cw * 12px; left: @cw * 18px;}
        }
        li.pPrev.normal {
            background: #A6D6FF;
            i {border-right: @cw * 2px solid #55ABFB; border-top: @cw * 2px solid #55ABFB;}
        }
        li.pNext {
            background: #E2F2FF; border-radius: @cw * 4px; margin-left: @cw * 10px; position: relative;
            i {border-right: @cw * 2px solid #3996F6; border-top: @cw * 2px solid #3996F6; height: @cw * 18px; width: @cw * 18px; transform: rotate(43deg); -webkit-transform: rotate(43deg); position: absolute; @cw * top: 12px; left: @cw * 8px;}
        }
        li.pNext.normal {
            background: #A6D6FF;
            i {border-right: @cw * 2px solid #55ABFB; border-top: @cw * 2px solid #55ABFB;}
        }
    }
}