.settings {
    text-align: center; margin-top: 60px;
    h3 {font-size: 48px; color: #0F9EFF; letter-spacing: 0;}
    .sco {margin-top: 100px;}
    i {width: 481px; height: 241px; display: inline-block; margin: 0 37px}
    i.b1 {background: url(./images/button_setting_01_normal.png) 0 0 no-repeat}
    i.b1:active,i.b1:hover {background: url(./images/button_setting_01_pressed.png) 0 0 no-repeat}
    i.b2 {background: url(./images/button_setting_02_normal.png) 0 0 no-repeat}
    i.b2:active,i.b2:hover {background: url(./images/button_setting_02_pressed.png) 0 0 no-repeat}
    i.b3 {background: url(./images/button_setting_03_normal.png) 0 0 no-repeat}
    i.b3:active,i.b3:hover {background: url(./images/button_setting_03_pressed.png) 0 0 no-repeat}
}