@import '../../app.less';
.depot {
    margin: 0 0 0 @cw * 45px;
    li {
        box-sizing: content-box;background: #fff; border: 1px solid #0F8CFF; border-radius: @cw * 6px; width: @cw * 886px; height: @cw * 152px;display: inline-block; margin: @cw * 12px @cw * 14px;text-align: center;
        .dl {
            float: left; width: @cw * 250px;height: @cw * 152px; background: #E6F4FF; font-size: @cw * 36px; color: #0F94FF; letter-spacing: @cw * 4.93px; border-right: 1px solid #0F9EFF; border-radius: @cw * 6px 0 0 @cw * 6px;
            span {display: block; height: @cw * 75px; line-height: @cw * 75px;}
            .dl_num {background: #0F94FF; color: #fff; font-size: @cw * 32px; border-radius: @cw * 5px 0 0 0}
        }
        .dr {
            float: left; margin: @cw * 35px @cw * 50px;
            span, time {display: block; text-align: left}
            span {font-size: @cw * 40px; color: #0E8CFF; letter-spacing: @cw * 5.47px;}
            time {font-size: @cw * 24px; color: #AFAFAF; letter-spacing: @cw * 3.28px;}
        }
    }
    .noOrder {
        text-align: center;
        i {background: url(./images/pic_01.png) top left no-repeat; width: @cw * 360px; height: @cw * 360px; margin-top: @cw * 200px}
        span {display: block; font-size: @cw * 32px; color: #5DBBFF; letter-spacing: @cw * 3.65px; margin-top: @cw * 20px;}
    }
}

.depotView {
    background: #fff; box-shadow: 0 1px 3px 0 #9FA4AF; border-radius: @cw * 6px; width: @cw * 1866px; height: @cw * 819px; margin: @cw * 50px auto 0;
    .depotViewCo {
        margin: @cw * 35px; display: inline-block;
        .dList {
            color: #0E8AFF;letter-spacing: @cw * 4.11px; overflow: hidden; margin-bottom: @cw * 25px;
            span {font-size: @cw * 40px; float: left; width: @cw * 230px; display: inline-block;}
            p {font-size: @cw * 32px; float: left;line-height: @cw * 55px;}
        }
        .dlt {
            font-size: @cw * 36px; color: #7B7B7B; letter-spacing: @cw * 5.63px; line-height: @cw * 67px; width: @cw * 1200px;
            var {display: block; font-style: inherit}
        }
    }
    .depotViewButton {
        text-align: center; position: absolute; width: @cw * 1866px; bottom: @cw * 25px;
        .buttons {margin: 0 @cw * 60px}
    }
}

.depotsName {font-size: @cw * 40px; color: #2294FF; letter-spacing: @cw * 5.47px; background: #E6F4FF; border-radius: @cw * 100px; width: @cw * 404.3px; height: @cw * 80.4px; line-height: @cw * 80.4px; text-align: center; margin: @cw * 10px auto @cw * 25px;}