@import '../../app.less';
.opera {
    background: #F9FBFF; position: absolute; top: 0; left: 0; width: 100%; min-height: @cw * 1200px;
    .searchList {height: @cw * 1000px; overflow-y: auto; width: @cw * 1600px; margin: @cw * 60px auto 0;}
    ul {
        li {
            width: @cw * 720px; height: @cw * 96px; background: #fff; border: 1px solid #6DBEFF; border-radius: @cw * 6px; font-size: @cw * 36px; color: #0E84FF; letter-spacing: 4.11px; vertical-align: middle; padding: 0 @cw * 35px; box-sizing: border-box; margin-bottom: @cw * 25px; position: relative;
            span { margin-top: @cw * 25px; display: inline-block; width: @cw * 500px;}
            span.small {font-size: @cw * 28px; margin-top: @cw * 10px;}
            var {font-style: inherit; font-size: @cw * 24px; position: absolute; right: @cw * 35px; top: @cw * 37px;}
        }
        li:nth-child(odd){float: left}
        li:nth-child(even){float: right}
        li:active, li:hover {background: #3996F6; color: #fff}
    }
}
.cf {
    .cf_type {font-size: @cw * 32px; color: #4A4A4A; line-height: @cw * 52px;}
    .of_name {font-size: @cw * 36px; color: #0E84FF; letter-spacing: @cw * 3.65px;}
    .of_val {
        font-size: @cw * 32px; color: #444; letter-spacing: @cw * 3.65px;
        input {background: #fff; border: 1px solid #3996F6; border-radius: @cw * 6px; width: @cw * 150px; height: @cw * 72px;font-size: @cw * 32px; color: #3996F6; letter-spacing: @cw * 3.65px; text-align: center}
    }
}